@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    overflow-x: hidden;
    scroll-behavior:smooth ;
}

body{
font-family: "Share Tech", sans-serif;

}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, .80);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.menu{
    display: flex;
    gap: 20px;
    list-style: none;
    position: relative;
    right: -50px;
}
.links{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 23px;
    text-decoration: underline;
    margin-top: 25px;

    transition: color 0.3s ease;
}

.links:hover {
    color: #c59d5f;
}


.logo img{
    height: 85px;
    width: auto;
    margin: 0 50px;

}

header{
    min-height: 100vh;
    padding: 80px;
    background-image:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)),
    url(man-barbershop-salon-doing-haircut-beard-trim.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.esquerda{
    position: relative;
    right: 50px;
}

h1{
    color: #fff;
     font-size: clamp(40px, 8vw, 100px);
    text-align: center;
    margin-top: 150px;
    
}

.legendah1{

    color: #fff;
     font-size: clamp(16px, 3vw, 27px);
     text-align: center;
}

.agendar{
   position: relative;
   left: 0px;
   top: 100px;
   text-decoration: none;
   color: #0c0c0c;
   background-color: #c5954d;
   padding: 12px 30px;
   
}

.Abertoate{
    color: #fff;
      position: relative;
   top: 100px;
}

.sobre {

    height: 100vh;
    margin-left:100px ;
    margin-top:100px ;
    background-color: #f9f9f9;

}

.sobre h2, h6, .p1sobre {
    color: #333;
}

.sobre h2 {
    font-size: 50px;
}

.sobre h6 {
    color: rgba(0, 0, 0, .60);
    font-size: 12px;
}

.line {
    border: 3px solid;
    padding: 10px 50px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #c4944e;

}

.p1sobre{
    max-width: 550px;
    position: relative;
    top: 50px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    
}

.p2sobre{
    position: relative;
    top: 75px;
    max-width: 550px;
    font-weight: 300;
    line-height: 1.5;
}

.sobreimg1 {
    width: 280px;
    height: auto;
}

.sobreimg2 {

    width: 280px;
    height: auto;
    position: relative;
    top: 100px;
    left: 10px;
}

.maquininha {
     width: 220px;
    height: auto;
    position: relative;
    bottom: 120px;
    left: 30px;
    transform: rotate(25deg);
}

.imgcontainer1 {
    position: absolute;
    left: 700px;
    top: 750px;
    

}