@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: "Share Tech", sans-serif;

}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, .80);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.menu{
    display: flex;
    gap: 20px;
    list-style: none;
    position: relative;
    right: -50px;
}
.links{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 23px;
    text-decoration: underline;
    margin-top: 25px;

    transition: color 0.3s ease;
}

.links:hover {
    color: #c59d5f;
}


.logo img{
    height: 85px;
    width: auto;
    margin: 0 50px;

}

header{
    min-height: 100vh;
    padding: 80px;
    background-image:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)),
    url(man-barbershop-salon-doing-haircut-beard-trim.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.esquerda{
    position: relative;
    right: 50px;
}

h1{
    color: #fff;
     font-size: clamp(40px, 8vw, 100px);
    text-align: center;
    margin-top: 150px;
    
}

.legendah1{

    color: #fff;
     font-size: clamp(16px, 3vw, 27px);
     text-align: center;
}

.agendar{
   position: relative;
   left: 0px;
   top: 100px;
   text-decoration: none;
   color: #0c0c0c;
   background-color: #c5954d;
   padding: 12px 30px;
   
}

.Abertoate{
    color: #fff;
      position: relative;
   top: 100px;
}